<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>SheOut | Women's Clothing | Shop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:1250px">
                    <div class="our-link" >
                        <ul>
                            <li><a href="{% 'cart.html' %}">My Account</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% 'index.html' %}"><img style="width: 130px; height: 55px;" src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar1">
                  <a href="{% 'index.html' %}">Home</a>
                  <a href="{% 'about.html' %}">About us</a>
                  <div class="dropdown">
                    <button class="dropbtn">Products
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="{% 'shop.html' %}">Shirts</a>
                      <a href="{% 'shop.html' %}">Skirts</a>
                      <a href="{% 'shop.html' %}">Pants</a>
                      <a href="{% 'shop.html' %}">Dresses</a>
                      <a href="{% 'shop.html' %}">Jackets</a>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button class="dropbtn">SHOP
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="{% 'cart.html' %}">Cart</a>

                    </div>
                  </div>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="searchtext"><a href="#"><input type="search" id="site-search" name="q"/></a></li>
                        <li class="search"><a href="{% 'shop.html' %}"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="{% 'cart.html' %}">
						<i class="fa fa-shopping-bag"></i>

					</a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->

            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->



    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% 'index.html' %}">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>

                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                          <button class="dropdown-btn-side">Clothing
                            <i class="fa fa-caret-down"></i>
                          </button>
                          <div class="dropdown-container">
                            <a href="{% 'shop.html' %}">T-Shirts</a>
                            <a href="{% 'shop.html' %}">Polo T-Shirts</a>
                            <a href="{% 'shop.html' %}">Sweatshirts </a>

                          </div>
                          <button class="dropdown-btn-side">Footwear
                            <i class="fa fa-caret-down"></i>
                          </button>
                          <div class="dropdown-container">
                            <a href="{% 'shop.html' %}" >Sports Shoes <small class="text-muted">(10)</small></a>
                            <a href="{% 'shop.html' %}" >Sneakers <small class="text-muted">(20)</small></a>
                            <a href="{% 'shop.html' %}" >Formal Shoes <small class="text-muted">(20)</small></a>
                          </div>
                          <a href="{% 'shop.html' %}t">Men</a>
                          <a href="{% 'shop.html' %}">Accessories</a>
                          <a href="{% 'shop.html' %}">Bags</a>
                        </div>


                        <div class="filter-brand-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="brand-box">
                                <ul>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios1" value="Yes" type="radio">
                                          <label for="Radios1"> 60$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios2" value="No" type="radio">
                                          <label for="Radios2"> 100$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios3" value="declater" type="radio">
                                          <label for="Radios3"> 150$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios4" value="declater" type="radio">
                                          <label for="Radios4"> 200$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios5" value="declater" type="radio">
                                          <label for="Radios5"> 300$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios6" value="declater" type="radio">
                                          <label for="Radios6"> 400$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios7" value="declater" type="radio">
                                          <label for="Radios7"> 500$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios8" value="declater" type="radio">
                                          <label for="Radios8"> 600$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios9" value="declater" type="radio">
                                          <label for="Radios9"> 700$ </label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="radio radio-danger">
                                          <input name="survey" id="Radios10" value="declater" type="radio">
                                          <label for="Radios10"> 800$ </label>
                                      </div>
                                  </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">

                                <p>Showing all 4 results</p>
                            </div>

                        </div>
                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                    {% for item in item_list %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">New</p>
                                                    </div>
                                                    <img src={{item.img}} class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <button class="cart" type="submit" formmethod="get" formaction="shop-detail.html">View Item</button>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{item.name}}</h4>
                                                    <h5> {{item.price}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 3756 <br>Preston Street Wichita,<br> KS 67213 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2022 <a href="{% 'index.html' %}">SheOut</a> Design By :
            <a href="https://html.design/">html design</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn-side");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
    </script>
</body>

</html>
